html,body {
    margin: 0;
    padding: 0;
}

body:focus-within .page-click {
    top: -100%;
}

.page-click {
    font-weight: 600;
    font-family: sans-serif;
    background: white;
    border: none;
    cursor: pointer;

    position: fixed;
    width: 100%;
    height: 100%;
    top: -100%;
    font-size: 5rem;
}
.page-click:first-child {
    top: 0;
}
.page-click:focus + .page-click {
    top: 0;
}
.page-click:focus:last-child {
    display: none;
}